<h1>Awaj</h1>
<div class="auth-bar">
  <% if user_signed_in? %>
    <span>Welcome, <%= current_user.name %>!</span>
    <%= button_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
    |
    <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>
</div>

<% if policy(Issue).create? %>
  <%= link_to "Report an Issue", new_issue_path, class: "btn-primary" %>
<% end %>

<% if policy(Issue).vote? %>
  <%= turbo_stream_from "issues" %>
<% else %>
  <%= turbo_stream_from "issues_readonly" %>
<% end %>
<ul id="issues-list">
  <%= render partial: "issues/issue",
              collection: @issues,
              as: :issue,
              locals: { can_vote: policy(Issue).vote?, voted_issue_ids: @voted_issue_ids } %>
</ul>